body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  display: grid;
}

.main h1 > span {
  color: #191970;
}

.card {
  
}

.tile-image {
  width: 300px;
  height: 200px;
  float: left;
  padding-right: 50px;
}

.left {
  background-color: #191970;
  float: left;
}

.right {
  background-color: #191970;
  float: right;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

